.container{
  display: grid;
  justify-items: center;
  margin: 20px auto 100px auto;
  /* border: 1px solid #fff; */
}
.img{
  display: grid;
  justify-content: center;
  justify-self: center;
}
.img img{
  width: 200px;
  height: 272px;
  margin: 10px auto 10px 30px;
}

.img span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.descricao{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
}

.descricao span{
  color: #FFBB00;
}